{% extends 'partials/base.html'%}
{% load static %}
{% block content %}
    <div>
        <div class="image-container">
            <div class="image">
                <a href="{% url 'skincare' %}" ><img src="{% static 'C:/Users/harik/OneDrive/Desktop/my_project/static/image/imagea.png' %}" alt="Image 1" style="height: 100%;width: 100%;"></a>
            </div>
            <div class="image">
                <a href="{% url 'knownhair'%}"> <img src="{% static 'C:/Users/harik/OneDrive/Desktop/my_project/static/image/imageb.jpg' %}" alt="Image 2"  style="height: 100%;width: 100%;"></a>
            </div>
          </div>
    </div>
    </html>
{% endblock content%}


    
     
