{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <section class="center-section">
        <div>
            <div style="padding-bottom: 1px; padding-top: 22%;">
                <!-- Corrected the onclick event to use Django's url template tag -->
                <button><a style="color: white;" href="{% url 'knownskin' %}">Do you know your skin type?</a></button>
            </div>
            
            <p>OR</p>

            <div>
                <!-- Adjusted onclick event for the second button -->
                <button> <a style="color: white;" href="{% url 'unknownskin' %}">you want to know your skin type?</a> </button>
            </div>
        </div>
    </section>
{% endblock content %}
