{% extends 'partials/base.html'%}
{% load static %}
{% block content %}

<div style="display: flex; flex-direction: row; flex-wrap: wrap; background-color: white;">
<div style="margin-bottom: 1%;padding-top: 10%;">
    <h1 style="text-align: center;color: rgb(5, 4, 4); text-decoration: dashed;">'Loving your skin isn't vanity, it's sanity.'</h1>
    <p style="font-size: 20px;color: rgb(42, 40, 40);text-align: center;">One's skin type is determined by the number of sebaceous glands, the climate and hormonal changes that occur in the body. Skin can be oily, dry, combination, sensitive or normal. The right skincare routine for an individual depends on their skin type. With the plethora of skincare products available in the market, it could get very confusing for a person to decide which products would suit them. Hence it is important to understand one's skin type.</p>
</div>
<div style="margin-top: 5%;padding-bottom: 5%;">
    <p style="text-align: center;color: rgb(5, 4, 4);;font-size: 25px;font-weight: bold;">Is there a test to indentify one's skin type?</p>
    <p style="text-align: center;color: rgb(42, 40, 40);font-size: 20px;">Wash your face in the morning as soon as you wake up and do not apply anything for the next hour. If your skin feels dry to the touch after an hour or if it is flaky, you have dry skin. If you blot your face with a tissue paper and it gets smudged with oil, you have oily skin. If the tissue paper is transparent only in patches, you have combination skin. If your skin breaks out into an itchy rash very easily, you have sensitive skin. If you develop acne, blackheads or whiteheads easily, especially upon applying a new product, you have acne-prone skin. If you develop dark marks on your skin easily after any cuts, wounds or acne, etc., you have pigment-prone skin. If none of the above happen, you have normal skin.</p>
</div>
</div>

{% endblock content%}
