{% extends 'partials/base.html'%}
    {% load static %}
    {% block content %}
<section id="skinproblems" class="section-p1" style="padding-top: 6%;">
    
    <div class="prob-container">
        <div class="prob" >
            <img src="{% static 'C:\Users\harik\OneDrive\Desktop\Django\static\img\Passion.png' %}" onclick="window.location.href='{% url 'prodesc21' %}'">
            <div class="des">
                <span>Passion Indulge</span>
                <h5>Unisex Tan Remova...</h5>
            
            
            <h4>&#x20b9; 405
                </h4>

        </div>
        <a href="#" class="fas fa-shoping-cart" style="font-size:large;color: black;">&#xf07a;</a>
        <a href="#" class="fas fa-heart" style="font-size:large;color: black;padding-left: 8%;"></a>

        </div>
        <div class="prob" >
            <img src="{% static 'C:\Users\harik\OneDrive\Desktop\Django\static\img\PROVALO.png' %}" onclick="window.location.href='{% url 'prodesc22' %}'">
            <div class="des">
                <span>PROVALO</span>
                <h5>Set Of 3 Ultimate Acn...</h5>
            
            
            <h4>&#x20b9;974
                </h4>

        </div>
        <a href="#" class="fas fa-shoping-cart" style="font-size:large;color: black;">&#xf07a;</a>
        <a href="#" class="fas fa-heart" style="font-size:large;color: black;padding-left: 8%;"></a>

        </div>
        <div class="prob" >
            <img src="{% static 'C:\Users\harik\OneDrive\Desktop\Django\static\img\OXYLIFE.png' %}" onclick="window.location.href='{% url 'prodesc23' %}'">
            <div class="des">
                <span>OXYLIFE</span>
                <h5>Salon Professional Pure Oxyg...</h5>
            
            
            <h4>&#x20b9; 949 </h4>

        </div>
        <a href="#" class="fas fa-shoping-cart" style="font-size:large;color: black;">&#xf07a;</a>
        <a href="#" class="fas fa-heart" style="font-size:large;color: black;padding-left: 8%;"></a>

        </div>
        <div class="prob" >
            <img src="{% static 'C:\Users\harik\OneDrive\Desktop\Django\static\img\THE MAN COMPANY.png' %}" onclick="window.location.href='{% url 'prodesc24' %}'">
            <div class="des">
                <span>THE MAN COMPANY</span>
                <h5>Men Charcoal Tan Removal Face Scrub 30ml</h5>
            
           
            <h4>&#x20b9; 149</h4>

        </div>
        <a href="#" class="fas fa-shoping-cart" style="font-size:large;color: black;">&#xf07a;</a>
        <a href="#" class="fas fa-heart" style="font-size:large;color: black;padding-left: 8%;"></a>

        </div>
        <div class="prob" >
            <img src="{% static 'C:\Users\harik\OneDrive\Desktop\Django\static\img\RDK.png' %}" onclick="window.location.href='{% url 'prodesc25' %}'">
            <div class="des">
                <span>RDK</span>
                <h5>Red Sandalwood Whiteni...</h5>
            
           
            <h4>&#x20b9; 246</h4>

        </div>
        <a href="#" class="fas fa-shoping-cart" style="font-size:large;color: black;">&#xf07a;</a>
        <a href="#" class="fas fa-heart" style="font-size:large;color: black;padding-left: 8%;"></a>

        </div>
        <div class="prob" >
            <img src="{% static 'C:\Users\harik\OneDrive\Desktop\Django\static\img\EcstaCBeauty.png' %}" onclick="window.location.href='{% url 'prodesc26' %}'">
            <div class="des">
                <span>EcstaCBeauty</span>
                <h5>Coffee Tan Remov...</h5>
            
            
            <h4>&#x20b9; 399</h4>

        </div>
        <a href="#" class="fas fa-shoping-cart" style="font-size:large;color: black;">&#xf07a;</a>
        <a href="#" class="fas fa-heart" style="font-size:large;color: black;padding-left: 8%;"></a>

        </div>
        <div class="prob" >
            <img src="{% static 'C:\Users\harik\OneDrive\Desktop\Django\static\img\FoxTale2.png' %}" onclick="window.location.href='{% url 'prodesc27' %}'">
            <div class="des">
                <span>FoxTale</span>
                <h5>The Stunner Skin Radian...</h5>
            
            
            <h4>&#x20b9; 463</h4>

        </div>
        <a href="#" class="fas fa-shoping-cart" style="font-size:large;color: black;">&#xf07a;</a>
        <a href="#" class="fas fa-heart" style="font-size:large;color: black;padding-left: 8%;"></a>

        </div>
        <div class="prob" >
            <img src="{% static 'C:\Users\harik\OneDrive\Desktop\Django\static\img\Callesta.png' %}" onclick="window.location.href='{% url 'prodesc28' %}'">
            <div class="des">
                <span>Callesta</span>
                <h5>Vitamin C Gel Sleeping Mask for...</h5>
            
            <h4>&#x20b9; 468</h4>

        </div>
        <a href="#" class="fas fa-shoping-cart" style="font-size:large;color: black;">&#xf07a;</a>
        <a href="#" class="fas fa-heart" style="font-size:large;color: black;padding-left: 8%;"></a>
    </div>
    </div>
 
    
</section>
{% endblock content%}
